<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <h2>User Dashboard</h2>
            <p><b>Name : </b>{{user.name}}</p>
            <a href="/logout" class="btn btn-dark">Logout</a>
            <div>
                <form action="/dashboard" method="post">
                    <input type="text" placeholder="Topic Name" required name="topic">
                    <input type="url" placeholder="Url" required name="url">
                    <button class="btn btn-dark" type="submit">Add</button>
                </form>
                <div>
                    {% for key, value in topics.items() %}
                        <div class="topics d-flex align-items-center mb-2">
                            <a href="{{ value }}" target="_blank" class="me-2">{{ key }}</a>
                            <form action="/dashboard" method="post" style="display:inline;">
                                <button class="btn btn-danger btn-sm" type="submit" name="remove" value="{{ key }}">
                                    Remove
                                </button>
                            </form>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

</div>

</body>
</html>
